{% load static %}

<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>タブ</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
</head>
<body>

    <ul class="tabs">
        <li>
            <a href="{% url 'travel_detail' travel_record.id %}" class="{% if active_tab == 'travel_detail' %}active{% endif %}">
                旅行概要
            </a>
        </li>

        {% for category in categories %}
            <li>
                {% if category.is_custom %}
                    <!-- カスタムカテゴリへのリンク -->
                    <a href="{% url 'custom_category_detail' travel_record.id category.id %}" class="{% if active_tab == category.id|stringformat:"s" %}active{% endif %}">
                        {{ category.category_name }}
                    </a>
                {% else %}
                    <!-- デフォルトカテゴリへのリンク -->
                    <a href="{% url 'category_detail' travel_record.id category.id %}" class="{% if active_tab == category.id|stringformat:"s" %}active{% endif %}">
                        {{ category.category_name }}
                    </a>
                {% endif %}
            </li>
        {% endfor %}

        {% if categories|length < 7 %}
            <li>
                <a href="{% url 'add_category' travel_record.id %}">＋</a>
            </li>
        {% endif %}

        <li>
            <a href="{% url 'travelmemo_list' travel_record.id %}" class="{% if active_tab == 'travelmemo' %}active{% endif %}">
                たびメモ
            </a>
        </li>
    </ul>

</body>
</html>
