<!DOCTYPE html>
<html lang="ja">
<head>
    {% load static %}
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MyTravelBook</title>       

    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    
    {% block extra_head %}
    <!-- ページごとの追加CSSやメタデータ -->
    {% endblock %}
</head>
<body>
    <header>
        <h1>
            <a href="{% url 'home' %}" style="text-decoration: none; color: black;">MyTravelBook</a>
        </h1>
        <nav>
            <ul>
                <li><a href="{% url 'travel_list' %}">旅行一覧</a>
                <li>
                    <form method="get" action="{% url 'travel_search' %}">
                        <input type="text" name="keyword" placeholder="検索バー">
                        <button type="submit">検索</button>
                    </form>
                </li>
                </li><a href="{% url 'mypage' %}">マイページ</a>
            </ul>
        </nav>
    </header>
    
    {% block content %}
    <!-- 各ページごとのコンテンツ -->
    {% endblock %}

</body>
</html>
