{% load static %}

<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>カテゴリ削除確認</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
</head>
<body>
    <div>
        <h1>カテゴリ削除確認</h1>
        <p>本当に「{{ category.category_name }}」を削除しますか？</p>
        <form method="post">
            {% csrf_token %}
            <button type="submit">はい、削除します</button>
            <button type="button" onclick="history.back();">キャンセル</button>
        </form>
    </div>
</body>
</html>