{% extends 'base.html' %}

{% block title %}MyTravelBook{% endblock %}

{% block content %}

    <h2>旅行記録を作成</h2>

    <!-- フォームのエラーメッセージを表示 -->
    {% if form.errors %}
    <ul class="errorlist">
        {% for field in form %}
            {% for error in field.errors %}
                <li>{{ field.label }}: {{ error }}</li>
            {% endfor %}
        {% endfor %}
        {% for error in form.non_field_errors %}
            <li>{{ error }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}

        {{ form.title.label }}{{ form.title }}<br>
        {{ form.start_date.label }}{{ form.start_date }}<br>
        {{ form.end_date.label }}{{ form.end_date }}<br>
        {{ form.comment.label }}{{ form.comment }}<br>
        {{ form.prefecture.label }}{{ form.prefecture }}
        <label for="city"> </label>
        <input type="text" id="city" name="city" placeholder="自由に入力してください"><br>
        {% if form.city.errors %}
        <div style="color: red;">{{ form.city.errors }}</div>  <!-- エラー表示 -->
        {% endif %}

        <label for="main_photo_url">メイン画像</label>
        <input type="file" id="main_photo_url" name="main_photo_url"><br>


        <details>
            <summary>詳細情報を追加</summary>

            {{ form.accommodation_info.label }}{{ form.accommodation_info }}<br>
            {{ form.meal_info.label }}{{ form.meal_info }}<br>
            {{ form.transport_info.label }}{{ form.transport_info }}<br>
            {{ form.cost_info.label }}{{ form.cost_info }}<br>
        
        </details>

        <button type="submit">保存</button>
        <a href="{% url 'travel_list' %}">キャンセル</a>
     </form>

{% endblock %}