{% load static %}

<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>MyTravelBook</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
</head>
<body>
    <div>
        <h1>カテゴリ編集</h1>
        <form method="post">
            {% csrf_token %}
            <label for="category_name">カテゴリ名:</label>
            <input type="text" id="category_name" name="category_name" value="{{ category.category_name }}" required>
            <div>
                <button type="button" onclick="history.back();">キャンセル</button>
                <button type="submit" name="action" value="save">保存</button>
                <button type="submit" name="action" value="delete" style="background-color: red; color: white;" onclick="return confirm('本当に削除しますか？');">カテゴリの削除</button>
            </div>
        </form>
        {% if error_message %}
            <p style="color: red;">{{ error_message }}</p>
        {% endif %}
    </div>
</body>
</html>



