{% extends 'base.html' %}
{% load static %}

{% block extra_head %}
    <link rel="stylesheet" href="{% static 'css/home.css' %}"> 
{% endblock %}

{% block title %}MyTravelBook{% endblock %}

{% block content %}
    <div class="home-buttons">
        <a href="{% url 'create_travel_record' %}" class="btn">旅行を記録</a>
        {% if latest_travel_record_id %}
            <a href="{% url 'travelmemo_list' latest_travel_record_id %}" class="btn">たびメモ</a>
        {% else %}
            <p>たびメモはまだありません</p>
        {% endif %}
    </div>

    <!-- 最近の旅行 -->
    <div class="recent-travels-container">
        <h2 class="recent-travels-title">🛫最近の旅行</h2>
        <div class="recent-travels">
            {% for travel in recent_travels %}
                <div class="travel-item">
                    <a href="{% url 'travel_detail' travel.id %}">
                        <!-- メイン写真 -->
                        {% if travel.main_photo_url %}
                            <img src="{{ travel.main_photo_url.url }}" alt="{{ travel.title }}">
                        {% else %}
                            <img src="{% static 'photos/default.jpg' %}" alt="Default Image">
                        {% endif %}
                        <!-- 各旅行のタイトル -->
                        <h3>{{ travel.title }}</h3>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>

    <div class="roulette-section">
        <p id="nextPrefecture">次の旅行先は…</p>
        <button id="rouletteButton" class="btn">ルーレットを回す</button>
    </div>

    <script>
    document.getElementById("rouletteButton").addEventListener("click", function() {
        fetch("/roulette/")
        .then(response => response.json())
        .then(data => {
            if (data.prefecture) {
                document.getElementById("nextPrefecture").textContent = "次の旅行先は " + data.prefecture;
            } else {
                document.getElementById("nextPrefecture").textContent = "未訪問の都道府県がありません";
            }
        });
    });
    </script>
{% endblock %}
