<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MyTravelBook</title>
    <style>
        .error {
            color: red;
        }
    </style>
</head>
<body>
    <h1>ログインページ</h1>

    <form method="post">
        {% csrf_token %}
        <div>
            <label for="username">メールアドレス:</label>
            <input type="email" name="username" id="username" required>
            {% if form.username.errors %}
                {% for error in form.username.errors %}
                    <p class="error">{{ error }}</p>
                {% endfor %}
            {% endif %}
        </div>
        <div>
            <label for="password">パスワード:</label>
            <input type="password" name="password" id="password" required>
            {% if form.password.errors %}
                {% for error in form.password.errors %}
                    <p class="error">{{ error }}</p>
                {% endfor %}
            {% endif %}
        </div>

        {% if form.non_field_errors %}
            {% for error in form.non_field_errors %}
                <p class="error">{{ error }}</p>
            {% endfor %}
        {% endif %}
           
        <button type="submit">ログイン</button>
    </form>
    <a href="{% url 'top' %}">トップに戻る</a>
</body>
</html>