<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MyTravelBook</title>
    <style>
        header{
            display: flex;
            align-items: center;
            border-bottom: 1px solid grey;
        }
    </style>
</head>
<body>
    <header>
        <h1>
            <a href="{% url 'home' %}" style="text-decoration: none; color: black;">MyTravelBook</a>
        </h1>
        <nav>
            <ul>
                <a href="{% url 'mypage' %}">旅行一覧</a>
                <input type="text" placeholder="検索バー">
                <a href="{% url 'mypage' %}">マイページ</a>
            </ul>
        </nav>
    </header>

    <main>
        <h2>マイページ</h2>
        <p>名前: {{ user.name }}</p>
        <p>メール: {{ user.email }}</p>
        <p>パスワード: ********</p>

        <div>
            <a href="{% url 'user_edit' %}">プロフィール編集</a>
            <a href="{% url 'password_change' %}">パスワード変更</a>
            <a href="{% url 'logout' %}">ログアウト</a>
        </div>
    </main>
</body>
</html>