<!DOCTYPE html>
<html lang="ja">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/user-forms.css' %}">
    <title>MyTravelBook</title>
</head>
<body>
    <div class="account-container">
        <form method="post">
            {% csrf_token %}
            <h1>パスワード変更</h1>
        
            {% if form.non_field_errors %}
            <div style="color: red;">
                {{ form.non_field_errors }}
            </div>
            {% endif %}
        
        <div class="form-group">
            <label for="{{ form.old_password.id_for_label }}">{{ form.old_password.label }}</label>
            {{ form.old_password }}  <!-- 現在のパスワード -->
            {% if form.old_password.errors %}
                <div class="error-message">{{ form.old_password.errors }}</div>
            {% endif %}
        </div>
        
        <div class="form-group">
            <label for="{{ form.new_password1.id_for_label }}">{{ form.new_password1.label }}</label>
            {{ form.new_password1 }}
            {% if form.new_password1.errors %}
                <div class="error-message">{{ form.new_password1.errors }}</div>
            {% endif %}
        </div>
        
        <div class="form-group">
            <label for="{{ form.new_password2.id_for_label }}">{{ form.new_password2.label }}</label>
            {{ form.new_password2 }}  <!-- 新しいパスワード確認 -->
            {% if form.new_password2.errors %}
                <div class="error-message">{{ form.new_password2.errors }}</div>
            {% endif %}
        </div>

        <p class="password-note">
            パスワードは半角英字、数字を組み合わせた8文字以上で登録してください
        </p>
    
        <div class="button-container">
            <button type="submit">パスワード変更</button>
            <a href="/mypage/">キャンセル</a>
        </div>
    </form>
</body>
</html>
