<!DOCTYPE html>
<html lang="ja">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/user-forms.css' %}">
    <title>MyTravelBook</title>
</head>
<body>
    <div class="account-container">
        <h1>新規登録</h1>
        <form method="post">
            {% csrf_token %}
            <label for="password1">ユーザー名</label>
            <input type="text" name="name">

            <label for="password1">メールアドレス</label>
            <input type="email" name="email">

            <label for="password1">パスワード</label>
            <input type="password" name="password1">

            <label for="password1">確認用パスワード</label>
            <input type="password" name="password2">
            
            <button type="submit">登録</button>
        </form>
        <a href="{% url 'top' %}">トップに戻る</a>

    {% if form.errors %}
        <div class="error-message">
            <ul>
                {% for field, errors in form.errors.items %}
                    {% for error in errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                {% endfor %}
            </ul>
        </div>
        {% endif %}
    </div>
</body>
</html>