{% extends 'base.html' %}

{% block title %}MyTravelBook{% endblock %}

{% block content %}
{% load static %}

{% include 'base_breadcrumb.html' %}  <!-- パンくずリストを追加 -->

{% include "base_tabs.html" with active_tab="travel_detail" %}<!-- タブを表示 -->

    {% load static %}
    <h3>タイトル：{{ travel_record.title }}</h3>
    <p>旅行先: {{ travel_record.prefecture }} {{ travel_record.city }}</p>
    <p>出発日: {{ travel_record.start_date }}</p>
    <p>帰宅日: {{ travel_record.end_date }}</p>
    
    {% if travel_record.main_photo_url %}
        <img src="{{ travel_record.main_photo_url.url }}" alt="メイン画像" width="300">
    {% else %}
        <img src="{% static 'photos/default.jpg' %}" alt="デフォルト画像" width="300">
    {% endif %}
    
    <h4>コメント</h4>
    <p>{{ travel_record.comment }}</p>
    <br>

    <details>
        <summary>旅行詳細</summary>

        <div>
            <strong>宿泊情報：</strong>
            <p>{{ travel_record.accommodation_info|default:"情報がありません" }}</p>
        </div>

        <div>
            <strong>食事情報：</strong>
            <p>{{ travel_record.meal_info|default:"情報がありません" }}</p>
        </div>

        <div>
            <strong>交通情報：</strong>
            <p>{{ travel_record.transport_info|default:"情報がありません" }}</p>
        </div>

        <div>
            <strong>旅行費用：</strong>
            <p>{{ travel_record.cost_info|default:"情報がありません" }}</p>
        </div>
    </details>

<div>
    <form method="GET" action="{% url 'travel_record_edit' travel_record.id %}">
        <button type="submit" class="btn btn-primary">編集</button>
    </form>

    <form method="POST" action="{% url 'travel_record_delete' travel_record.id %}">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger" onclick="return confirm('本当に削除しますか？');">削除</button>
    </form>
</div>
{% endblock %}

    