<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>MyTravelBook</title>
    <style>
        header{
            display: flex;
            align-items: center;
            border-bottom: 1px solid grey;
        }
    </style>
</head>

<body>
    <header>
        <h1>
            <a href="{% url 'travel_list' %}" style="text-decoration: none; color: black;">MyTravelBook</a>
        </h1>
        <nav>
            <ul>
                <a href="{% url 'travel_list' %}">旅行一覧</a>
                <input type="text" placeholder="検索バー">
                <a href="{% url 'mypage' %}">マイページ</a>
            </ul>
        </nav>
    </header>
    
    {% load static %}
    <h2>旅行記録一覧</h2>

    <a href="{% url 'create_travel_record' %}">旅行を記録する</a>

    <ul>
        {% for record in travel_records %}
        <li>
            <a href="{% url 'travel_detail' record.id %}">
                {{ record.title }} ({{ record.start_date }} - {{ record.end_date }})
            </a>
            {% if record.main_photo_url %}
                <img src="{{ record.main_photo_url.url }}" alt="メイン画像" width="50" height="50">
            {% else %}
            <img src="{% static 'photos/default.jpg' %}" alt="デフォルト画像" width="50" height="50">   
            {% endif %}    
        </li>
        {% empty %}
        <li>旅行記録がありません。</li>
        {% endfor %}
    </ul>
</body>
</html>

