{% extends 'base.html' %}

{% block title %}MyTravelBook{% endblock %}

{% block content %}
{% load static %}

{% block extra_head %}
<link rel="stylesheet" href="{% static 'css/travel_detail.css' %}">
{% endblock %}


{% include 'base_breadcrumb.html' %}

{% include "base_tabs.html" with active_tab="travel_detail" %}<!-- タブ -->
<div class="travel-detail-container">
    <div class="travel-info">
        <div class="main-photo">
            {% if travel_record.main_photo_url %}
                <img src="{{ travel_record.main_photo_url.url }}" alt="メイン画像">
            {% else %}
                <img src="{% static 'photos/default.jpg' %}" alt="デフォルト画像">
            {% endif %}
        </div>
        <div class="travel-details">
            <h1>タイトル：{{ travel_record.title }}</h1>
            <p>旅行先: {{ travel_record.prefecture }} {{ travel_record.city }}</p>
            <p>出発日: {{ travel_record.start_date }} - 帰宅日: {{ travel_record.end_date }}</p>
        </div>
    </div>

    <h2>コメント</h2>
        <p>{{ travel_record.comment }}</p>

    <details class="travel-extra-details">
        <summary>旅行詳細</summary>

        <div>
            <strong>宿泊情報：</strong>
            <p>{{ travel_record.accommodation_info|default:"情報がありません" }}</p>
        </div>

        <div>
            <strong>食事情報：</strong>
            <p>{{ travel_record.meal_info|default:"情報がありません" }}</p>
        </div>

        <div>
            <strong>交通情報：</strong>
            <p>{{ travel_record.transport_info|default:"情報がありません" }}</p>
        </div>

        <div>
            <strong>旅行費用：</strong>
            <p>{{ travel_record.cost_info|default:"情報がありません" }}</p>
        </div>
    </details>

    <div class="edit-buttons">
    <form method="GET" action="{% url 'travel_record_edit' travel_record.id %}">
        <button type="submit" class="btn btn-primary">編集</button>
    </form>

    <form method="POST" action="{% url 'travel_record_delete' travel_record.id %}">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger" onclick="return confirm('本当に削除しますか？');">削除</button>
    </form>
    </div>
</div>
{% endblock %}

    