/* タブのスタイル */
.tabs {
    list-style-type: none;  /* デフォルトのリストスタイルを解除 */
    padding: 0;             /* デフォルトのパディングを解除 */
    margin: 20px 0;        /* 上下に隙間を設定 */
    display: flex;          /* タブを横並びにする */
    justify-content: space-between; /* タブ間のスペースを均等に */
}

/* タブの項目スタイル */
.tabs li {
    flex: 1;                /* 各タブの幅を均等に */
    text-align: center;     /* テキストを中央に配置 */
    border: 1px solid #ccc; /* タブの枠線を追加 */
    border-radius: 5px;     /* 角を丸める */
    margin-right: 5px;      /* タブ間の隙間を設定 */
}

/* 最後のタブの右のマージンを削除 */
.tabs li:last-child {
    margin-right: 0;
}

/* タブのリンクスタイル */
.tabs a {
    display: block;         /* リンクをブロック要素に */
    padding: 10px 0;       /* 上下のパディングを設定 */
    text-decoration: none;  /* 下線を解除 */
    color: #333;           /* テキストカラーを設定 */
    background-color: #fff; /* 背景色を設定 */
}

/* アクティブなタブのスタイル */
.tabs a.active {
    font-weight: bold;      /* アクティブなタブを太字に */
    border-bottom: 2px solid #007BFF; /* アクティブなタブの下に線を追加 */
    background-color: #e7f1ff; /* アクティブなタブの背景色 */
}

/* パンくずリストのスタイル */
.breadcrumb {
    display: flex;            /* 横並びに配置 */
    list-style: none;        /* デフォルトのリストスタイルを解除 */
    padding: 0;              /* デフォルトのパディングを解除 */
    margin: 20px 0;          /* 上下に隙間を設定 */
}

/* パンくずリストの項目スタイル */
.breadcrumb-item {
    margin-right: 5px;       /* 項目間の隙間を設定 */
}

/* パンくずリストの区切り文字スタイル */
.breadcrumb-item + .breadcrumb-item::before {
    content: " ＞ ";          /* 区切り文字を設定 */
    color: #333;              /* 区切り文字の色を調整 */
}

/* アクティブな項目のスタイル（デフォルトでリンクを除去する） */
.breadcrumb-item.active {
    font-weight: normal;  /* 太字を解除 */
    color: #333;;
}

/* ボタンの基本スタイル */
.button {
    background-color: #007bff; /* 青色 */
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    transition: background-color 0.3s;
}

/* 削除ボタン専用スタイル */
.button-danger {
    background-color: #dc3545; /* 赤色 */
}

.button-danger:hover {
    background-color: #c82333; /* ホバー時の色 */
}

.recent-travels {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 20px 0;
}

.travel-item {
    margin: 5px;
    flex: 0 1 auto;
    text-align: center;
}

.travel-item img {
    width: 150px;
    height: 100px;
    object-fit: cover;
    border-radius: 8px;
}



